footer{
    background-color: var(--color-6);
    color: var(--color-1);
}
.flex{
    display: flex;
    wrap: wrap;
    justify-content: end;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}

small{
    text-align: center;
}

.twelve p {
    text-align: center;
}